body{
    background: url("img/reprodcution-v0-4-1080.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 1080px;
    width: 1920px;
    margin: 0;
}

#box{
    display: table;
    width: 100%;
    height: 100%;
}

.col{
    display: table-cell;
    vertical-align: top;
}

.col:nth-child(1) {
    width: 730px;
    background: pink;
}
.col:nth-child(2) {
    width: 463px;
    background: transparent;
}
.col:nth-child(3) {
    width: 727px;
    background: ivory;
}