body{
    margin: 0;
    overflow: hidden;
}

#info{
    height: 350px;
}

#chart{
    height: 730px;
    overflow: scroll;
}

path.man{
    stroke: rgb(98, 171, 196);
}

path.woman{
    stroke:rgb(216, 117, 134);
}

path.man.selected, path.man.sel{
    stroke: rgb(0, 121, 162);
}

path.woman.selected, path.woman.sel{
    stroke:rgb(216, 0, 36);
}

#info{
    display: table;
    width: 100%;
}

.col{
    display: table-cell;
    vertical-align: top;
}

.col:nth-child(1) { width: 20%; }
.col:nth-child(2) { width: 40%; }
.col:nth-child(3) { width: 40%; }


#image img{
    width: 80%;
}

.coa{
    width: 45%;
    margin-left: 2.5%;
}

.coa img{
    width: 70px;
}
/*
.coa.single{
    margin: auto;
}*/

.coa.double, .coa.triple{
    float: left;
}