body{
    margin: 0;
    overflow: hidden;
}

#info{
    height: 350px;
}

#chart{
    height: 730px;
    overflow: scroll;
}
/*
.stop-left {
    stop-color: white;
}
*/
.filled{
    stroke: url(#mainGradient);
    stroke-width: 10;
    fill: none;
}

#bornGuessed .stop-left, #bornGuessedWoman .stop-left, #diedGuessed .stop-right, #diedGuessedWoman .stop-right {
    stop-color: white;
}

#bornGuessedWoman .stop-right, #diedGuessedWoman .stop-left{
    stop-color: rgb(216, 117, 134);
}

#bornGuessed .stop-right, #diedGuessed .stop-left{
    stop-color: rgb(98, 171, 196);
}


/*
#diedGuessed .stop-left{
    stop-color: rgb(216, 117, 134);
}
*/

.bornGuessGradient{
    stroke: url(#bornGuessed) !important;
}

.bornGuessWomanGradient{
    stroke: url(#bornGuessedWoman) !important;
}


.diedGuessGradient{
    stroke: url(#diedGuessed);
}

.diedGuessWomanGradient{
    stroke: url(#diedGuessedWoman) !important;
}

path.man{
    stroke: rgb(98, 171, 196);
}

path.woman{
    stroke:rgb(216, 117, 134);
}

.selected .man, .sel .man {
    stroke: rgb(0, 121, 162);
}

.selected .woman, .sel .woman{
    stroke:rgb(216, 0, 36);
}

#info{
    display: table;
    width: 100%;
}

.col{
    display: table-cell;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 20px;
}

.col:nth-child(1) { width: 20%; }
.col:nth-child(2) { width: 40%; }
.col:nth-child(3) { width: 40%; }


#image img{
    width: 80%;
}

.coa{
    width: 45%;
    margin-left: 2.5%;
}

.coa img{
    width: 70px;
}
/*
.coa.single{
    margin: auto;
}*/

.coa.double, .coa.triple{
    float: left;
}

.coa.triple{
    height: 150px;
}

.third path{
    stroke: grey;
}

.third circle{
    fill: grey;
}